ï¼Š{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  height:50px;
  background-color:#ff9a4b;
}

main{
  width:960px;
  margin:50px auto;
}

.step{
  display:flex;
  justify-content:center;
}

.step-item{
  width:300px;
  margin-right:30px;
  padding:10px;
  position:relative;
  background-color:#EEEEEE;
}

.step-item:last-child{
  margin-right:0;
}

.step-image1{
  height:150px;
  background-image:url(img/flow01.png);
  background-position:bottom;
  background-size:cover;
}

.step-image2{
  height:150px;
  background-image:url(img/flow02.png);
  background-position:bottom;
  background-size:cover;
}

.step-image3{
  height:150px;
  background-image:url(img/flow03.png);
  background-position:bottom;
  background-size:cover;
}

.category{
  position:absolute;
  top:0;
  left:0;
  background-color:#FF9A4B;
  color:#FFF;
}

.step-text-heading{
  margin:15px 0 5px;
}

footer{
  height:50px;
  background-color:#AAA;
}

@media screen and (max-width:768px) {
  header{
    width:100%;
    height:50px;
  }

  main{
    width:100%;
    margin:50px auto;
  }

  .step{
  display: block;
  margin:0 auto;
  }

  .step-item{
    width:90%;
    margin-bottom:20px;
  }

  .step-item:last-child{
    margin-bottom:0;
  }

  .step-image{
    height:150px;
  }

  footer{
    width:100%;
    height:50px;
  }
}